*{
    padding: 10px;
    margin: 20px;
    background-color: gray;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: xx-large;
}
.recipe-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
#searchInput{
    background-color: white;
    height: 20px;
    width: 300px;
    margin-left: 300px;
}
button{
    background-color: white;
}
#new{
width: 100px;
}